#container {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  cursor: pointer;
}
span:hover {
  background-color: grey;
}
